<div class="row vh-100 vw-100">
  <div id="paragraph" class="col" contenteditable="true">
    Paste your text here ...
  </div>
</div>

<div class="links row justify-content-center">
  <div class="col-4">
    <button class="btn btn-info" onclick="lowercase()">lowercase</button>
  </div>
  <div class="col-4">
    <button class="btn btn-success" onclick="titlecase()">TitleCase</button>
  </div>
  <div class="col-4">
    <button class="btn btn-warning" onclick="uppercase()">UPPERCASE</button>
  </div>
</div>
