<div class="row vh-100 vw-100">
  <div id="paragraph" class="col" contenteditable="true">
    Paste your text here ...
  </div>
</div>


<div class="row links right fixed-bottom">
  <div class="col-md-3 col-lg-2">
    <div class="row">
      <div class="col-4 col-md-12">
        <button class="btn btn-block btn-success button" onclick="titlecase()">TitleCase</button>
      </div>
      <div class="col-4 col-md-12 button">        
        <button class="btn btn-block btn-warning" onclick="uppercase()">UPPERCASE</button>
      </div>
      <div class="col-4 col-md-12 button">
        <button class="btn btn-block btn-info" onclick="lowercase()">lowercase</button>
      </div>
    </div>
    </div>
  </div>

</div>
