html
    head
        title vomitcapsize | capitalize your text
        link(rel="stylesheet", href="main.css")
    body
        textarea(name="mainarea", cols="100", rows="50")
        button UPPERCASE
        button lowercase
        button Titlecase