<textarea name="" id="" col="h100"></textarea>

<button class="btn btn-primary">Capitalize</button>
<button class="btn btn-primary">UPPERCASE</button>
<button class="btn btn-primary">lowercase</button>
