<div class="row vh-100 vw-100">
  <div class="col" contenteditable="true">
    <p>Paste your text here ...</p>
  </div>
</div>

<div class="links row justify-content-center">
  <div class="col-4"><button class="btn btn-info">lowercase</button></div>
  <div class="col-4"><button class="btn btn-success">Capitalize</button></div>
  <div class="col-4"><button class="btn btn-warning">UPPERCASE</button></div>
</div>
