<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vomitcapsize | capitalize your text</title>
  </head>
  <body>
    <%- include('./index.pug') %>
  </body>
</html>
