body {
  background-color: rgb(95, 108, 103);
}

#paragraph {
  font-family: "Space Grotesk", sans-serif;
  color: aquamarine;
  font-weight: 700;
  line-height: 3.5rem;
  font-size: 3.5rem;
  padding: 20px;
}

.links {
  padding-right: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.links p {
  line-height: 1rem;
}
