body {
  background-color: rgb(85, 97, 93);
}

#paragraph {
  font-family: "Space Grotesk", sans-serif;
  color: aquamarine;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  padding: 20px;
}

.left {
  padding-left: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
}

.right {
  padding: 0 10px;
}

.links p button {
  opacity: 0.9;
  margin: 0px;
}

.btn {
  font-size: 0.8rem;
}

.button {
  margin: 5px 0;
}
