body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4rem;
  color: aquamarine;
  font-weight: 500;
  background-color: rgb(95, 108, 103);
}

p {
  padding: 20px;
}

.links {
  position: fixed;
  bottom: 0;
}
